.container-hero {
  background-image: url(../images/header_cover_hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
h1 {
  color: #ff0073;
}

/* ---- RESPONSIVE - BREAKPOINT ---- */
@media screen and (max-width: 550px) {
  .container-hero {
    width: 100%;
    margin: 0 auto;
  }
}
